html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.grass, .sky, .road {
    position: relative;
}

.sky {
    height: 40%;
    background: skyblue;
}

.grass {
    height: 30%;
    background: seagreen;
}

.road {
    height: 30%;
    background: dimgrey;
    box-sizing: border-box;
    border-top: 10px solid grey;
    border-bottom: 10px solid grey;
    width: 100%;
}

.debesis {
    position: absolute;
    animation-name: fly;
    animation-duration: 3s;
}

.mario, .luigi {
    position: absolute;
    top: -40px;
    left: 0;
    animation-name: drive;
    animation-duration: 3s;
}

@keyframes fly {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(1600px)
    }
}

@keyframes drive {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(1793px)
    }
}

@media all and (max-width: 1500px) {
    @keyframes drive {
        to {
            transform: translateX(1300px)
        }
    }

    @keyframes fly {
        to {
            transform: translateX(1200px)
        }
    }
}

.lines {
    box-sizing: border-box;
    border: 5px dashed #fff;
    height: 0px;
    width: 100%;
    position: absolute;
    top: 45%;
}